@charset "utf-8";


html, body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}


/* Background Styles for Body */
body {
    background-image: url('../images/body_background.jpg'); /* Background image URL */ /*Image taken from: https://i.pinimg.com/564x/dc/e7/2f/dce72f7a88dd7b46e21f6bf5c2f21468.jpg */
    background-size: cover; /* Scale the image to cover the entire container */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Fix the background image to prevent scrolling */
}


/* Navbar Styles */
.logo-image {
    height: 90px !important; /* Force the logo image height */
}


/* Navigation Bar Toggler Styles */
.navbar-toggler {
    border: none !important; /* Remove border from the navbar toggler */
}


/* Offcanvas Menu Styles */
.offcanvas.custom-width {
    width: 250px !important; /* Set a custom width for the offcanvas menu */
}


.logo-size {
    width: 10.5rem !important; /* Set the width of the logo */
    height: auto !important; /* Maintain aspect ratio */
}


/* Scroll to Top Button */
#scrollToTopBtn {
    display: none; /* Initially hidden */
    z-index: 1050 !important; /* Ensure this is higher than any other element's z-index on your page */
}


/* Custom Container Styles */
.custom-container {
    max-width: 800px !important; /* Set maximum width */
    background-color: rgba(243, 243, 243, 0.4) !important; /* Light grey background with transparency */
}


/* Star Rating Styles */
.star {
    font-size: 2.5rem !important; /* Set the font size of stars */
    margin: 0 0.1rem !important; /* Set the margin between stars */
}